<% layout('/layouts/boilerplate.ejs') %>
<div class="row mt-4">
  <div class="col-6 offset-3">
    <h1>Log In to Wonderlast</h1>
    <form action="/login" novalidate class="needs-validation" method="post">
      <div>
        <label for="username" class="form-label">User Name : </label>
        <input
          type="text"
          name="username"
          id="username"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
        <div class="invalid-feedback">Please enter valid user name</div>
      </div>
      <div>
        <label for="password" class="form-label">Password : </label>
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
        <div class="invalid-feedback">Please enter valid password</div>
      </div>
      <button type="submit" class="btn btn-danger mt-3">Log In</button>
    </form>
  </div>
</div>
